.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 100px);
    gap: 10px;
}

.item1{
    background-color: rgb(58, 100, 238);
    padding: 20px;
    text-align: center;
    grid-column-start: 1;
    grid-column: 3 / 5;
}

.item2{
    background-color: rgb(225, 84, 84);
    padding: 20px;
    text-align: center;
    grid-row: 1 / 3;

}

.item3{
    background-color: orange;
    padding: 20px;
    text-align: center;
    grid-row: 2 / 5;
}

.item4{
    background-color: rgb(38, 158, 38);
    padding: 20px;
    text-align: center;
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}

.item5{
    background-color: rgb(218, 100, 218);
    padding: 20px;
    text-align: center;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}